 <table style="height: 321px;" width="986">
<tbody>
<tr>
<td style="width: 93.8835px;">
<h2>course_code</h2>
</td>
<td style="width: 89.2233px;">
<h1>&nbsp;title</h1>
</td>
<td style="width: 93.8835px;">
<h2>semester_id</h2>
</td>
<td style="width: 96.2136px;">
<h2>contact_hours</h2>
</td>
<td style="width: 86.1165px;">
<h2>credits</h2>
</td>
<td style="width: 89.2233px;">
<h2>syllabus</h2>
</td>
<td style="width: 122.621px;">
<h2>evaluation_schema</h2>
</td>
<td style="width: 92.3301px;">
<h2>ref_book</h2>
</td>
</tr>
<tr>
<td style="width: 93.8835px;">&nbsp;</td>
<td style="width: 89.2233px;">&nbsp;</td>
<td style="width: 93.8835px;">&nbsp;</td>
<td style="width: 96.2136px;">
<h2>&nbsp;L&nbsp; &nbsp; &nbsp; &nbsp; T&nbsp; &nbsp; &nbsp; C</h2>
</td>
<td style="width: 86.1165px;">&nbsp;</td>
<td style="width: 89.2233px;">&nbsp;</td>
<td style="width: 122.621px;">&nbsp;</td>
<td style="width: 92.3301px;">&nbsp;</td>
</tr>
</tbody>
</table>