<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Curriculum</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/style.css'>
    {% comment %} <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css"> {% endcomment %}
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <script src='main.js'></script> -->
</head>
<body>
    <div class="top">
        <h1>Curriculum: <span>{{ Title.title }}</span></h1>
    </div>
    <section>
        <div class="leftside">
            <h2> Current Curriculums</h2>
            <table class="styled-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Batch Year</th>
                    <th> Version</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for cc in Current_curriculum %}
                <tr>
                    <td>{{ cc.name }}</td>
                    <td>{{ cc.batch_year }}</td>
                    <td>{{ cc.version }}</td>
                    <td><a href="{% url 'semester' cc.id %}">view</a></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="rightside">
            <h2> Past Curriculums</h2>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Batch Year</th>
                        <th> Version</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for pc in Past_curriculum %}
                    <tr>
                        <td>{{ pc.name }}</td>
                        <td>{{ pc.batch_year }}</td>
                        <td>{{ pc.version }}</td>
                        <td><a href="{% url 'semester' pc.id %}">view</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% comment %} <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script> {% endcomment %}
</body>
</html>