<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/style.css'>
    {% comment %} <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> {% endcomment %}
    <title>Programme</title>
</head>
<body> 
    <div class="top">
       <h1>Programme</h1>
   </div>
    <div>
        <table class="styled-table">
            <thead>
                <tr style="text-align: center;">
                    <th>UG: Under Graduate</th>
                    <th>PG: Post Graduate</th>
                    <th>PHD: Doctor of Philosophy</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul>
                        {% for ug in UG %}
                        <li><a href="{% url 'curriculum' ug.id %}">{{ug.title | title }}</a></li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                        {% for pg in PG %}
                        <li><a href="{% url 'curriculum' pg.id %}">
                            {{ pg.title | title }}
                            </a>
                        </li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                        {% for phd in PHD %}
                        <li><a href="{% url 'curriculum' phd.id %}">
                            {{ phd.title | title }}
                            </a>
                        </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
            </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>