<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="padding-top: 50px;">
        <table style="border: 1px solid black; background-color: black;" cellspacing="15" width="100%">
            <tbody>
            <tr style="height: 23px; ">
            <td style="width: 335px; height: 23px; border: 1px solid black;  background-color:white; text-align: center;">
            <h3>UG: Under Graduate</h3>
            </td>
            <td style="width: 335px; height: 23px; border: 1px solid black;  background-color:white; text-align: center;">
            <h3>PG: Post Graduate</h3>
            </td>
            <td style="width: 335px; height: 23px; border: 1px solid black;  background-color:white; text-align: center;">
            <h3>PHD: Doctor of Philosophy</h3>
            </td>
            </tr>
            <tr style="height: 154.8px;">
            <td style="width: 335px; height: 154.8px; border: 1px solid black;  background-color:white;">
            <ul>
            <li>
            <h5>B-Tech (Computer Science Engineering)</h5>
            </li>
            <li>
            <h5>B-Tech (Electronics and Communication Engineering)</h5>
            </li>
            <li>
            <h5>B-Tech (Mechanical Engineering)</h5>
            </li>
            <li>
            <h5>B-Tech (Smart Manufactring)</h5>
            </li>
            <li>
            <h5>Bachelor of Design</h5>
            </li>
            </ul>
            </td>
            <td style="width: 335px; height: 154.8px; border: 1px solid black;  background-color:white;">
            <ul>
            <li>
            <h5>M-Tech (Computer Science Engineering)</h5>
            </li>
            <li>
            <h5>M-Tech (Electronics and Communication Engineering)</h5>
            </li>
            <li>
            <h5>M-Tech (Mechanical Engineering)</h5>
            </li>
            <li>
            <h5>Bachelor of Design</h5>
            </li>
            </ul>
            </td>
            <td style="width: 335px; height: 154.8px; border: 1px solid black;  background-color:white;">
            <ul>
            <li>
            <h5>PHD (Computer Science Engineering)</h5>
            </li>
            <li>
            <h5>PHD (Electronics and Communication Engineering)</h5>
            </li>
            <li>
            <h5>PHD (Mechanical Engineering)</h5>
            </li>
            <li>
            <h5>PHD (Mathematics)</h5>
            </li>
            </ul>
            </td>
            </tr>
            </tbody>
            </table>
    </div>
</body>
</html>